<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reimbursement Form Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenali+Ramakrishna&display=swap"
        rel="stylesheet">
</head>
<style>
    *{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: medium;
    }
    .container{
        text-align: center;
        margin-top: 100px;
    }
    button{
        background-color: rgb(0, 0, 0);
        border-style: none;
        padding: 9px 15px 9px 15px;
        margin-top: 15px;
        border-radius: 15px;
        color: white;
    }
    .text-box{
        border-style: none;
        background-color: rgb(228, 231, 230);
    }

</style>
<body>
    <div class="container">
        <h3>Let's get started!</h3>
        <form method="POST" action="/">
            <label for="email">Mail id: </label>
            <input class="text-box" type="email" name="email" id="email" required>
            <br>
            <button type="submit">Get Started</button>
        </form>
        {% with message = get_flashed_messages()%}
            {% if message %}
                <div class="error">
                    {% for msg in message %}
                        <p>{{msg}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>